
/* すべての要素は境界線も含めたサイズ計算をする */
* {
    box-sizing: border-box;
}

/* 垂直スクロールバーの有無によるサイズ変更が起こらないように最初から強制で表示しておく */
body {
    margin: 0;
    padding: 0;
    background-color: gray;
    overflow-y: scroll;
}

/* ヘッダーと同じ高さだけ常に上部を空けておく */
.layout {
    margin: auto;
    padding-top: 64px;
    border-style: none;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.header {
    margin: 0;
    padding: 4px 8px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color:white;
}

.header-left {
    margin: 0;
    padding: 16px 8px;
    width: fit-content;
    flex-grow: 0;
    font-size: 10px;
    display:inline-flex;
}

.header-center {
    width: 50%;
    margin: 0;
    padding: 8px 8px;
    text-align: center;
    /* background-color: red; */
    flex-grow: 1;
}

.header-right {
    margin: 0;
    padding: 8px 0;
    /* background-color: green; */
    text-align: right;
    flex-grow: 1;
    width: fit-content;
}

.header-text-sub {
    font-size: small;
    line-height: 0;
}

.header-text {
    font-size:medium;
    line-height: 0;
}

.search-box {
    margin : 0;
    padding : 2px 2px;
    /* border-style: solid; */
    text-align: center;
}

.yt-logo {
    margin: 0;
    padding: 0;
    height: 24px;
    border-style: none;
}

.content {
    margin: 0;
    padding: 16px 5vw;
    width: 100%;
    border-style: none;
    background-color: whitesmoke;
    display: flex;
}

.main-panel {
    margin: 0;
    padding: 0 8px;
    border-style: none;
    flex-grow: 1;
    flex-direction: column;
}

.side-panel {
    margin: 0;
    padding: 0 8px;
    width: 30%;
    border-style: none;
    text-align: center;
    flex-grow: 0;
    flex-direction: column;
}

.screen-area {
    margin:0;
    padding: 0;
    width: 100%;
    background-color: gray;
}

.button-area {
    margin-top: 1em;
    text-align: right;
}


@media screen and (max-width: 1000px) {

    * {
        float: none;
        position: static;
    }
     
    img {
        max-width: 100%;
        height: auto;
    }
    
    body {
        margin: 0;
        padding: 0;
    }
    
    .screen-area {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .side-panel {
        margin: 0px;
        padding: 0;
        width: 100%;
    }

    .control-area {
        order: 2;
    }

    .button-area {
        order: 1;
        margin: 1em 0;
        padding: 0;
        text-align: center;
    }

    .button-area button {
        margin: 0;
        font-size: xx-large;
        width: 100%;
    }
            
}

.screen-canvas {
    background-color: black;
    vertical-align: middle;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}


.control {
    border-style: none;
    font-size: large;
    text-align: left;
    width : 100%;
}

.composite-component {
    margin: 4px;
    padding: 8px;
    padding-bottom: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: lightgray;
}

.composite-component p,
.disabled-component p {
    margin:0;
    margin-right:8px;
    margin-bottom : 0.5em;
    line-height: 1em;
    display: inline-block;
    white-space: nowrap;
}

.simple-component {
    margin: 0px;
    padding: 0px;
    border-style: none;
}

.imagelist-component {
    margin: 4px;
    padding: 0px;
    padding-bottom: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: lightgray;
    background-color: gray;
    overflow-y:scroll;
    max-height: 50vh;
}

.disabled-component {
    margin:4px;
    padding:8px;
    padding-bottom:2px;
    width: 80%;
    border-width: 1px;
    border-style: solid;
    color:gray;
    background-color:whitesmoke;
}

.control-description {
    margin: 1em 0 0.5em 4px;
    padding: 0;
    font-size: medium;
    line-height: 1em;
    font-weight: bold;
    color: blue;
    white-space: nowrap;
}

.control-description p {
    white-space: nowrap;
}

.control input , 
.control select, 
.control option {
    font-size:large;
}

.control input[type="text"] ,
.control select {
    margin:4px;
    padding:10px;
    border:1px;
    border-style:solid;
    background-color: white;

    border-width: 2px;
    border-color: lightgray;

    width:100%;
}

.control input[type="text"]:focus {
    outline-style: none;
    outline-width: 0;
    background-color: lemonchiffon;
}

.control input[type="radio"] ,
.control input[class="control"] {
    margin:4px;
    padding:10px;
    border:1px;
    border-style:solid;
    background-color: white;
}

.control input[type="range"] {
    width: 100%;
}

.control ul {
    margin : 0;
    padding: 0;
    background-color: gray;
    text-align: left;
    height: min-content;
}

.control li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding:0;
    /* height: fit-content; */
}

.control img.select {
    outline-style: solid;
    outline-width: 2px;
    outline-color:blue;
    background-color: aqua;
}

.control img {
    max-width : 200px;
    width : 30%;
    padding:4px;
    margin:4px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    cursor: pointer;
    background-color: white;
}

.content button {
    font-size: large;
    margin:8px;
    padding:8px;
}

.thumbnail {
    width: 300px;
    cursor:pointer;
}


.disabled-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.window-overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height:100%;
    background: white;
}

.spinner-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 8px #ddd solid;
    border-top: 8px #999 solid;
    border-radius: 50%;
    animation: spinner-rotate 0.8s infinite linear;
}

@keyframes spinner-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}
